:root {
  color-scheme: dark light;

  /* destructure brand channels */
  --hue: 200;
  /* change me!! */
  --saturation: 100%;
  --lightness: 50%;

  /* build colors with props */
  /*--brand: hsl(var(--hue) var(--saturation) var(--lightness));*/

  /* very dark brand blue */
  --text: hsl(var(--hue) var(--saturation) 10%;
      /* lower is darker */
    );

  /* very bright brand white */
  --surface: hsl(var(--hue) calc(var(--saturation) / 2) 99%;
      /* higher is lighter */
    );

  --link: hsl(var(--hue) var(--saturation) 30%);

  /* theme-swith colors*/
  --icon-fill: hsl(var(--hue) 30% 30%);
  --icon-fill-hover: var(--text);
}

html,
body {
  color: var(--text);
  background: var(--surface);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: clamp(16px, 0.6em + 1.5vw, 18px);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}


@media (prefers-color-scheme: dark) {
  /* just tweak the lightness */
  /* maybe desaturate too */

  :root {
    --text: hsl(var(--hue) calc(var(--saturation) / 2) 85%);
    --surface: hsl(var(--hue) var(--saturation) 5%);
    --link: hsl(var(--hue) var(--saturation) 75%);

    /* theme-swith colors*/
    --icon-fill: hsl(var(--hue) 5% 65%);
  }
}

html[data-theme=dark] {

  --text: hsl(var(--hue) calc(var(--saturation) / 2) 85%);
  --surface: hsl(var(--hue) var(--saturation) 5%);
  --link: hsl(var(--hue) var(--saturation) 75%);

  /* theme-swith colors*/
  --icon-fill: hsl(var(--hue) 5% 65%);
}

html[data-theme=light] {

  --text: hsl(var(--hue) var(--saturation) 10%);
  --surface: hsl(var(--hue) calc(var(--saturation) / 2) 99%);
  --link: hsl(var(--hue) var(--saturation) 30%);

  /* theme-swith colors*/
  --icon-fill: hsl(var(--hue) 30% 30%);
}